.main {
	margin: 4rem auto;
	padding: 4rem 6rem;
	width: 90%;
	max-width: 90%;
	height: 100vh;
}

/* Adding media queries */
/* For middle-sized devices e.g Tablets/bigger phones */
@media screen and (max-width: 700px) {
	.main {
		padding: 4rem;
		margin: 4rem auto;
	}
}

/* For mobile devices */
@media screen and (max-width: 550px) {
	.main {
		padding: 4rem 2rem;
		margin: 4rem auto;
	}
}
