.header {
	width: 100%;
	height: 5rem;
	/* padding: 0 2rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem;
	width: 100vw;
	height: 10vh;
	margin: 0;
	top: 0;
	left: 0;
	background-color: var(--color-bg);
	color: var(--color-text);
	position: fixed;
	z-index: 999;
	font-size: 1rem;
	font-weight: 500;
	line-height: 2rem;
	text-transform: capitalize;
}

/* ############################ */

.active {
	background-color: red;
}
/* ############################ */

/* Logo Container */
.logo {
	width: 5rem;
	height: 5rem;
	margin-top: 1rem;
	margin-left: 2rem;
	cursor: pointer;
	position: relative;
}

.logo Image {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.logo::before {
	content: "Burger Up!";
	position: absolute;
	top: 10%;
	left: 0;
	z-index: 1;
	font-family: "Indie Flower", cursive, sans-serif;
	font-weight: 900;
	font-size: 2rem;
	line-height: 1.5rem;
	text-align: center;
	transform: rotate(-10deg);
	text-transform: uppercase;
	text-shadow: 2px 2px 12px var(--color-primary);
}

.header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2rem;
}

.header nav ul {
	display: flex;
	justify-content: space-evenly;
	gap: 2rem;
}

.header nav ul a,
.iconContainer {
	margin: 0 2rem;
	cursor: pointer;
	transition: 200ms all ease-in-out;
}

.header nav ul a.active {
	border-bottom: 2px solid var(--color-primary);
}

.iconContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0.2rem;
	gap: 3rem;
	position: relative;
}

.cartnumber {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.cartnumber svg {
	font-size: 1.5rem;
}

.cartnumber div {
	background-color: var(--color-primary);
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 0.8rem;
	top: 0;
	left: 8%;
}

.iconContainer button {
	padding: 0.8rem 1.2rem;
	background-color: var(--color-secondary);
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	min-width: 5rem;
	text-transform: capitalize;
	color: var(--color-text);
	box-shadow: 1px 5px 20px var(--color-secondary);
}

/* Mobile Menu (Hamburger Menu) */
.mobileContainer {
	display: none;
	position: relative;
	margin-left: 1rem;
}

.mobileContainer svg {
	cursor: pointer;
	color: var(--color-button);
}

.mobileLinks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 3rem 2rem;
	gap: 2rem;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 1.2rem;
	/* width: 90vw;
    height: 60vh; */
	border-radius: 5px;
	background-color: var(--color-bg);
	backdrop-filter: blur(150px);
	/* border: 1px solid green; */
}
.mobileLinks ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.mobileLinks li {
	color: var(--color-text);
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: capitalize;
	margin: 1rem 0;
	cursor: pointer;
}

.mobileLinks .iconContainer,
.mobileLinks .iconContainer button {
	display: none;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: capitalize;
}
/* you can create custom css animations using this tool - www.animista.net */
/* Click on "Copy Class" from the website - animista.net and paste the code here first */
.slideLeft {
	-webkit-animation: slideLeft 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slideLeft 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Click on "Copy Keyframes" from the website - animista.net and paste the code here second */
/* ----------------------------------------------

/* ----------------------------------------------
 * Generated by Animista on 2022-6-30 7:48:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slideLeft
 * ----------------------------------------
 */
@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
	}
}
@keyframes slideLeft {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
	}
}

/* Media Queris */
/* Larger Devices  - any size below 1050px will be affected by this query */
@media screen and (max-width: 1050px) {
	.header nav {
		display: none;
	}

	.mobileContainer {
		display: block;
	}

	.mobileLinks {
		top: 5rem;
		right: 3rem;
		width: 50vw;
		height: 50vh;
		/* border: 1px solid white; */
	}
}
/* Tablet Devices  - any size below 700px will be affected by this query */
@media screen and (max-width: 700px) {
	.iconContainer button,
	.iconContainer p:nth-child(2) {
		display: none;
	}
	.mobileLinks {
		/* top: 3rem;
		margin-top: 1.2rem; */
		/* width: 60vw;
		height: 70vh; */
		right: 0;
	}

	.mobileLinks .iconContainer {
		display: block;
		margin-top: 2rem;
	}

	.mobileLinks .iconContainer button {
		display: block;
		margin-top: 3rem;
	}

	.cartnumber svg {
		font-size: 2.5rem;
	}

	.cartnumber div {
		left: 60%;
	}
}
/* Mobile Devices  - any size below 550px will be affected by this query */
@media screen and (max-width: 550px) {
	.header {
		padding: 2rem;
	}
}
