.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2rem;
	margin-top: 6rem;
	flex-wrap: wrap;
	color: var(--color-text);
	width: 100%;
}

.head h2 {
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 2rem;
	margin-bottom: 3rem;
	text-transform: capitalize;
}

.main form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	flex: 1;
	flex-wrap: wrap;
	padding: 2rem 6rem;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.main form label {
	margin-bottom: 0.8rem;
	align-self: flex-start;
	margin-left: 7rem;
}

.main form input {
	width: 80%;
	/* height: 2rem; */
	padding: 1rem;
	margin-bottom: 1.5rem;
	border-radius: 6px;
}
.main form input::placeholder {
	color: var(--color-main);
	font-size: 0.8rem;
	line-height: 2rem;
	font-style: italic;
	text-transform: capitalize;
}

.fieldcontainer {
	display: flex;
	flex-direction: column;
	width: 80%;
	justify-content: flex-start;
	align-items: flex-start;
}

.fieldgroup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin-top: 1rem;
	gap: 2rem;
}

.fieldgroup .price {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	/* width: 20%; */
}

.fieldgroup .price label {
	margin-left: 0;
}

.main fieldset {
	border: 1px solid var(--color-text);
	border-radius: 6px;
	/* width: 30%; */
	padding: 1rem;
	margin: 0 1rem;
}

.main fieldset legend {
	text-align: center;
	padding: 0 1rem;
}

.main fieldset div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	/* width: 50%; */
	margin: 1rem 0;
}

.main fieldset div input {
	margin: 0 1rem;
	width: auto;
}
.main fieldset div label {
	margin: 0;
}

.main form button {
	padding: 0.8rem 1.2rem;
	background-color: var(--color-secondary);
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	min-width: 8rem;
	min-height: 3rem;
	text-transform: capitalize;
	color: var(--color-text);
	margin-top: 3rem;
	transition: var(--transition-timer);
}
.main form button:hover {
	box-shadow: 1px 5px 20px var(--color-secondary);
}

/* Media Queries */

@media screen and (max-width: 1050px) {
	.main form {
		padding: 2rem;
	}

	.main form label {
		margin-left: 4rem;
	}

	.fieldgroup {
		width: 100%;
	}

	.main fieldset {
		margin: 0;
	}

	.main fieldset div label {
		width: 100%;
	}
}
@media screen and (max-width: 650px) {
	.main form {
		padding: 2rem 0;
	}

	.main form label {
		margin-left: 3rem;
	}

	.fieldgroup {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	.fieldgroup .price,
	.fieldgroup .price input {
		width: 100%;
	}

	.fieldgroup .price label {
		margin-left: 0;
	}

	.main fieldset {
		margin: 0;
		width: 100%;
	}
}
