.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2rem;
	margin-top: 6rem;
	flex-wrap: wrap;
	color: var(--color-text);
	width: 100%;
}

.head {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2rem;
	margin-top: 6rem;
	flex-wrap: wrap;
	color: var(--color-text);
	width: 100%;
}

.head h2 {
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 2rem;
	margin-bottom: 3rem;
	text-transform: capitalize;
}

.head form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	width: 100%;
}

.head form label {
	font-size: 1.2rem;
	font-weight: 100;
}

.head form input {
	width: 80%;
	/* height: 2rem; */
	padding: 1rem;
	margin-bottom: 1.5rem;
	border-radius: 6px;
}

.head form input::placeholder {
	color: var(--color-main);
	font-size: 0.8rem;
	line-height: 2rem;
	font-style: italic;
	text-transform: capitalize;
}

.head form button {
	padding: 0.8rem 1.2rem;
	background-color: var(--color-secondary);
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	min-width: 8rem;
	min-height: 3rem;
	text-transform: capitalize;
	color: var(--color-text);
	margin-top: 1rem;
	transition: var(--transition-timer);
}
.head form button:hover {
	box-shadow: 1px 5px 20px var(--color-secondary);
}

/* ************************************* */
/* *********** BURGER CARD ************* */
/* ************************************* */
.burgerCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding: 1rem; */
	border-radius: 5px;
	margin: 1rem 0rem;
	width: 20rem;
	height: 32rem;

	background-color: var(--color-bg);
	box-shadow: 0px 0px 5px var(--color-secondary);
	border: none;
	cursor: pointer;
}

.imageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	/* height: 18rem; */
	width: 100%;
	flex: 1;
	/* height: 32rem; */
	position: relative;
	/* border: 1px solid red; */
}

.imageContainer img {
	width: 100%;
	height: 100%;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	position: relative;
	object-fit: cover;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	padding: 2rem;
	/* border: 1px solid white; */
}

.content h3 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.cta {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	font-size: 1rem;
	font-weight: 100;
	text-transform: capitalize;
	/* border: 1px solid yellow; */
}

.content button {
	padding: 0.8rem 1.2rem;
	background-color: var(--color-secondary);
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	min-width: 5rem;
	font-size: 1.2rem;
	text-transform: capitalize;
	color: var(--color-text);
	margin-top: 2rem;
	box-shadow: 1px 5px 20px var(--color-secondary);
}

/* +++++++++++++++++++++++++++++++++++ */
/* FORM MODAL */
.formModal {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	flex: 1;
	flex-wrap: wrap;
	padding: 2rem 6rem;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.formModal label {
	margin-bottom: 0.8rem;
	align-self: flex-start;
	margin-left: 7rem;
}

.formModal input {
	width: 80%;
	/* height: 2rem; */
	padding: 1rem;
	margin-bottom: 1.5rem;
	border-radius: 6px;
}
.formModal input::placeholder {
	color: var(--color-main);
	font-size: 0.8rem;
	line-height: 2rem;
	font-style: italic;
	text-transform: capitalize;
}

.fieldcontainer {
	display: flex;
	flex-direction: column;
	width: 80%;
	justify-content: flex-start;
	align-items: flex-start;
}

.fieldgroup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin-top: 1rem;
	gap: 2rem;
}

.fieldgroup .price {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	/* width: 20%; */
}

.fieldgroup .price label {
	margin-left: 0;
}

.formModal fieldset {
	border: 1px solid var(--color-text);
	border-radius: 6px;
	/* width: 30%; */
	padding: 1rem;
	margin: 0 1rem;
}

.formModal fieldset legend {
	text-align: center;
	padding: 0 1rem;
}

.formModal fieldset div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	/* width: 50%; */
	margin: 1rem 0;
}

.formModal fieldset div input {
	margin: 0 1rem;
	width: auto;
}
.formModal fieldset div label {
	margin: 0;
}

.formModal button {
	padding: 0.8rem 1.2rem;
	background-color: var(--color-secondary);
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	min-width: 8rem;
	min-height: 3rem;
	text-transform: capitalize;
	color: var(--color-text);
	box-shadow: 1px 5px 20px var(--color-secondary);
	margin-top: 3rem;
	/* align-self: flex-start; */
}

.checkboxLabel {
	text-transform: capitalize;
}

/* Media Queries */

@media screen and (max-width: 1050px) {
	.formModal {
		padding: 2rem 0;
	}

	.formModal label {
		margin-left: 5rem;
	}

	.fieldgroup {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	.fieldgroup .price,
	.fieldgroup .price input {
		width: 100%;
	}

	.fieldgroup .price label {
		margin-left: 0;
	}

	.formModal fieldset {
		margin: 0;
		width: 100%;
	}
	.imageContainer img {
		object-fit: cover;
	}
}

@media screen and (max-width: 650px) {
	.head h2 {
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	.burgerCard {
		width: 18rem;
		height: 28rem;
		margin-top: 3rem;
	}

	.imageContainer img {
		object-fit: cover;
	}
}
