.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: var(--color-text);
	margin-top: 6rem;
	height: 100vh;
	padding: 3rem;
	gap: 2rem;
	position: relative;
}

.backnav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1rem;
	font-style: italic;
	font-weight: 100;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.backnav svg {
	color: var(--color-primary);
	margin-right: 1rem;
	font-size: 2rem;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70%;
	margin-top: 6rem;
	flex-wrap: wrap;
	/* overflow: hidden; */
}

.imageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	flex: 1;
	margin-right: 1rem;
}

.imageContainer img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 40%;
	height: 100%;
}

.innerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: 50%;
	padding: 2rem 1rem;
}
.innerWrapper h3 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 3rem;
}
.innerWrapper p {
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 100;
	text-transform: capitalize;
}

.details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-top: 2rem;
	gap: 1rem;
	flex-wrap: wrap;
}
.details div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 4rem;
	padding: 0.3rem 3rem;
	border-radius: 100px;
	font-size: 0.6rem;
	border: 1px solid var(--color-secondary);
}
.details div span {
	font-size: 0.8rem;
	margin-left: 0.5rem;
	color: var(--color-accent);
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 10%;
	margin-top: 3rem;
	padding: 0 1.2rem;
}
.actions p {
	color: var(--color-primary);
	letter-spacing: 0.1rem;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2rem;
}

.actions button {
	min-width: 5rem;
	min-height: 4rem;
	font-size: 1.2rem;
	padding: 1.2rem;
	text-transform: capitalize;
	background-color: var(--color-secondary);
	color: var(--color-text);
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 1050px) {
	.content {
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 100%;
	}

	.imageContainer {
		margin: 0;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}

	.wrapper {
		max-width: 100%;
		height: 40%;
	}

	.innerWrapper h3 {
		font-size: 2rem;
		font-weight: 600;
		margin-bottom: 1.5rem;
	}

	.actions {
		margin-top: 8rem;
	}
}

@media screen and (max-width: 650px) {
	.content {
		justify-content: flex-start;
	}
	.imageContainer {
		flex: 1;
	}

	.wrapper {
		max-width: 100%;
		height: 60%;
		margin-top: 1rem;
		justify-content: flex-start;
	}
	.innerWrapper {
		height: 90%;
		padding: 1rem;
	}

	.details {
		margin-top: 0rem;
	}
	.details div {
		max-width: 10rem;
	}

	.actions {
		margin: 0;
		padding: 0 1.2rem;
	}

	.actions button {
		min-height: 1rem;
		font-size: 1rem;
		padding: 1rem;
	}
}

@media screen and (max-width: 490px) {
	.container {
		padding: 1rem;
	}

	.imageContainer {
		flex: 1;
	}

	.wrapper {
		height: 70%;
	}
	.innerWrapper p {
		font-size: 1.1rem;
		line-height: 2rem;
	}

	.details {
		flex-direction: column;
	}

	.details div {
		width: 100%;
		font-size: 0.8rem;
		font-weight: 100;
	}
}
